<html>
<!-- For details, see: https://github.com/dschuurman/home-sense -->
<head>
    <title>Home-Sense Automation</title>
    <!-- Make the webpage more responsive to mobile browswers -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        {% include 'style.css' %}
    </style>
</head>

<body onload="document.getElementById('home').className='active';">
    {% include 'header.html' %}

    <h2>Status</h2>
    <p>The configured Zigbee devices include:
    <ul>
        {% for device in device_list %} 
           <li>{{device}}</li>
        {% endfor %}
    </ul>
    <table>
        <tr><td>Temperature: </td><td><b> {{temperature}} </b> &deg;C</td></tr>
        <tr><td>Relative Humidity: </td><td><b> {{humidity}} </b>% </td></tr>
        <tr><td>Air Pressure: </td><td><b> {{pressure}} </b> hPa </td></tr>
        <tr><td>Water Leak</td><td> <b>{{water_leak}}</b> </td></tr>
        <tr><td>Low Battery</td><td> <b>{{low_battery}}</b> </td></tr>

        <tr><td>Smart bulbs</td>
        <td>
            {% if bulb_state %}
            <b>ON</b>
            {% else %}
            <b>OFF</b>
            {% endif %}
        </td></tr>
        <tr><td>Bulb brightness</td><td> {{brightness}} </td></tr>
        <tr><td>Smart outlets</td>
        <td>
            {% if outlet_state %}
            <b>ON</b>
            {% else %}
            <b>OFF</b>
            {% endif %}
        </td></tr>
        <tr><td>Timer control of Bulbs</td><td> {{bulb_timer}} </td>
        <tr><td>Timer control of Outlets</td><td> {{outlet_timer}} </td>
        <tr><td>Timer ON time</td><td> {{on_time}} </td></tr>
        <tr><td>Timer OFF time</td><td> {{off_time}} </td></tr>
    </table>

</body>
</html>