<html>
<!-- For details, see: https://github.com/dschuurman/pi-lights -->
<head>
    <title>pi-lights timer off-time</title>
    <!-- Make the webpage responsive to mobile browswers -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        {% include 'style.css' %}
    </style>
</head>

<body>
    {% include 'header.html' %}

    <h2>Set new off time</h2>
    <p>
        Timer lights off-time is now set to: {{off_time}}
    </p>
    <a href="/">Back to main page</a>
</body>

</html>