<html>
<!-- For details, see: https://github.com/dschuurman/home-sense -->
<head>
    <title>Home-Sense Automation</title>
    <!-- Make the webpage more responsive to mobile browswers -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        {% include 'style.css' %}
    </style>
</head>

<body onload="document.getElementById('outlets').className='active';">
{% include 'header.html' %}

<h2>Smart Outlets</h2>
This section provides control and setting for one or more smart outlets.
<br>The Zigbee "friendly names" of the configued outlets are: {{ outlets }} 

<p>Current state of outlets: 
{% if outlet_state %}
<b>ON</b>
{% else %}
<b>OFF</b>
{% endif %}
<br>
<form action="" method="post">
    <button name="outlet_state" type="submit" value="on">Outlets ON</button>
    <button name="outlet_state" type="submit" value="off">Outlets OFF</button>
</form>

<h2>Timer Settings for Outlets</h2>

<b>Enable Timer Control of Outlet(s)</b>
<br>The outlets may also be controlled by the timer.
<br>This can be helpful to control indoor lights while away on vacation.
<br>Currently the timer control of the outlet(s) is:
{% if outlet_timer %}
<b>ON</b>
{% else %}
<b>OFF</b>
{% endif %}
<br>
<form action="" method="post">
    <button name="outlet_timer" type="submit" value="on">ENABLE</button>
    <button name="outlet_timer" type="submit" value="off">DISABLE</button>
</form>

<p>
The current timer settings are as follows:
<br>Timer ON time: {{on_time}}
{% if on_time_mode == "dusk" %}
(dusk)
{% elif on_time_mode == "fixed" %}
(fixed time each day)
{% endif %}
<br>Timer OFF time: {{off_time}}
{% if off_time_mode == "dawn" %}
(dawn)
{% elif off_time_mode == "fixed" %}
(fixed time each day)
{% endif %}

</body>
</html>