table, td {border: 1px solid black;}
td {padding: 10px; vertical-align: top;}

.menu {
    background-color: lightgrey;
    padding: 20px 10px;
    white-space: nowrap;
    overflow: auto;
  }
  
.menu a {
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 16px; 
    line-height: 20px;
    border-radius: 4px;
  }
  
.menu a:hover {
    background-color: lightsteelblue;
    color: black;
  }
  
.menu a.active {
    background-color: royalblue;
    color: white;
  }
